{:db {:type :sqlite-on-disk ; alternative - :sqlite-in-memory
      :path "data/personalist.db"}
 :devel {
   :pre-seed? false
   :shadow? true
   :dangerously-skip-logins? false
 }
 :logging {
   :file "logs/personalist.log" ; omit to disable file logging
   :level :debug ; :debug :info :warn :error
   :format :human ; :human :edn :json
 }
 :server {
   :port 3017
 }
}
