{:db {:type :disk ; alternative - :memory
      :log-path "data/xtdb/log"
      :storage-path "data/xtdb/storage"}
 :devel {
   :pre-seed? false
   :shadow? true
   :dangerously-skip-logins? false
 }
 :server {
   :port 3017
 }
}
