{:mvn/repos {"sonatype-snapshots" {:url "https://s01.oss.sonatype.org/content/repositories/snapshots"}}
 :deps {org.clojure/clojure               {:mvn/version "1.12.0"}
        org.clojure/data.json             {:mvn/version "2.5.1"}
        com.taoensso/telemere             {:mvn/version "1.0.0-SNAPSHOT"}
        com.taoensso/telemere-slf4j       {:mvn/version "1.0.0-RC1"}
       ;;  com.xtdb/xtdb-jdbc                {:mvn/version "2.0.0-SNAPSHOT"}
        com.xtdb/xtdb-core                {:mvn/version "2.0.0-SNAPSHOT"}
        com.xtdb/xtdb-api                 {:mvn/version "2.0.0-SNAPSHOT"}
        uberdeps/uberdeps                 {:mvn/version "1.4.0"}}}