{:objects
 {:Identity
  {:description "An Identity (an Entity or Process pattern, recognisable throughout time)."
   :fields
   {:identity {:type (non-null String)}
    :name     {:type (non-null String)}
    :text     {:type (non-null String)}}}

  :Query
  {:fields
   {:identitiesByPersonaId
    {:type        (list :Identity)
     :description "Access all Identities for a given persona"
     :args
     {:personaName {:type String}}}}}}}
